a {
    text-decoration: none;
    color: #333;
}

/* Card */
.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.hero {
    background-image: url('../images/pwc-nigeria-techtalent-bootcamp-2022.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: -2;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

/* Content Section */

.content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    margin: 10px 10px;
    transition: transform 0.2s ease-in;
}

.card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-15px);
}
